.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.inner {
  width: 600px;
  height: 600px;
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.state {
  width: 600px;
  height: 50px;
  /* border: 1px solid olive; */
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.gameboard {
  /* border: 1px solid #fff; */
  width: 600px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}

.animals {
  width: 90px;
  height: 120px;
  display: flex;
  margin: auto;
  border-radius: 5px;
  position: relative;
}

.animal {
  width: 90px;
  height: 120px;
  display: flex;
  /* border: 1px solid greenyellow; */
  margin: auto;
  background-color: aliceblue;
  border-radius: 5px;
  position: relative;
}

.animal:hover {
  transform: scale(1.1);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.front {
  background-size: 90px;
  transform: rotateY(0deg);
}

.back {
  background-size: 80px;
  transform: rotateY(-180deg);
}

.non-show {
  display: none;
}