.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.inner {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.state {
  width: 600px;
  height: 50px;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.game-board {
  width: 600px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}

.animals {
  width: 90px;
  height: 120px;
  display: flex;
  margin: auto;
  border-radius: 5px;
  position: relative;
}

.animal {
  width: 90px;
  height: 120px;
  display: flex;
  margin: auto;
  background-color: aliceblue;
  border-radius: 5px;
  position: relative;
}

.animal:hover {
  transform: scale(1.1);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.front {
  background-size: 90px;
  transform: rotateY(0deg);
}

.back {
  background-size: 80px;
  transform: rotateY(-180deg);
}

.next-modal{
  background-color: oldlace;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: none;
}

.next-img {
  width: 150px;
  height: 150px;
  position: absolute;
  rotate: 15deg;
  top: -5px;
  right: 80px;
  animation: bounce_frames 0.3s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: 4;
}
@keyframes bounce_frames {
  from {transform: translate3d(0, -5px, 0);}
  to {transform: translate3d(0, -20px, 0);}
}

.next-span {
  position: absolute;
  top: 130px;
  right: 40px;
  font-size: 20px;
  font-weight: 800;
  color: aliceblue;
}

.over-modal {
  background-color: bisque;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
  display: none;
}

.over-img {
  width: 100px;
  height: 100px;
  position: absolute;
}

.over-rabbit {
  width: 150px;
  height: 150px;
  position: absolute;
  rotate: 15deg;
  top: -5px;
  right: 70px;
}

.continue {
  position: absolute;
  bottom: -45px;
  color: aliceblue;
  font-size: 30px;
  font-weight: 800;
  animation: blink-effect 1s step-end infinite;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.restart {
  position: absolute;
  bottom: -85px;
  left: 75px;
  font-size: 18px;
  color: aliceblue;
  cursor: pointer;
  padding: 10px 10px;
}

.restart:hover {
  color: orange;
  scale: 1.2;
}

.end {
  position: absolute;
  bottom: -85px;
  right: 75px;
  color: aliceblue;
  cursor: pointer;
  padding: 10px 10px;
}

.end:hover{
  color: orange;
  scale: 1.2;
}

.show {
  display: block;
}

.non-show {
  display: none;
}